---
page_title: "Provider: {{title .ProviderShortName}}"
description: |-
  The Nexus provider allows Terraform to read from, write to, and configure Sonatype Nexus Repository Manager
---

# {{title .ProviderShortName}} Provider

The Nexus provider allows Terraform to read from, write to, and configure [Sonatype Nexus Repository Manager](https://www.sonatype.com/product-nexus-repository).

-> **Note** This provider hat been implemented and tested with Sonatype Nexus Repository Manager OSS `3.70.1-02`.

## Usage

### Provider config

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Author

[Datadrivers GmbH](https://www.datadrivers.de)
